.drillStepSeparatorStyle-dot {
  background-image: radial-gradient(circle, currentcolor 1px, transparent 1px);
  background-position: bottom;
  background-size: 1ex 4.5px;
  background-repeat: space no-repeat;
  content: "";
  flex-grow: 1;
  height: fit-content;
}
.drillStepSeparatorStyle-line {
  border-bottom: 1px solid black;  
  height: fit-content;
  flex-grow: 1;
}