<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .dump_red{
      border: 1px solid red;
    }
    .dump_green{
      border: 1px solid green;
    }
  </style>
</head>
<body>
  <div>

    <table>
      <thead>
        <tr>
          <th>Nama</th>
          <th>Nama Lengkap</th>
          <th>Umur</th>
          <th>Pendidikan</th>
          <th>Kampus</th>
          <th>Nama Ayah</th>
          <th>Alamat</th>
          <th>Status Pekerjaan</th>
          <th>Divisi</th>
          <th>Hobi 1</th>
          <th>Hobi 2</th>
          <th>Hobi 3</th>
          <th>Hobi 4</th>
          <th>Hobi 5</th>
          <th>Hobi 6</th>
          <th>Kegiatan diluar kantor</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Ferdi</td>
          <td>Ferdi Arrahman</td>
          <td>28</td>
          <td style="position: relative; width: 100px;" class="dump_red">
            <div style="width: 50px;right:0;position: absolute;" class="dump_green">Sarjana</div>
          </td>
          <td><span>Universitas Islam Indonesia <span>Foo</span></span></td>
          <td>Dwi Saptoko</td>
          <td>Jl. Cibogo atas no 80 blok balimbing</td>
          <td>Karyawan Tetap</td>
          <td>Sertifikasi</td>
          <td>Bermain Bola</td>
          <td>Membaca</td>
          <td>Menabung</td>
          <td>Bekerja</td>
          <td>Main IG</td>
          <td>Nonton OP</td>
          <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore aperiam, dolorum consequatur sint atque fugit cum molestiae consectetur repudiandae sed, suscipit aut, ullam labore doloremque? Molestias, velit eos doloribus rerum, laboriosam, quasi ratione autem mollitia sed reprehenderit quis id veritatis quo veniam laborum totam obcaecati dolores molestiae. Nisi, iure ex! Voluptates debitis architecto, eos eveniet quasi deserunt quam provident deleniti fugiat tempora magni labore. Recusandae placeat maiores quas corrupti accusantium aspernatur incidunt eligendi! Expedita quas consequatur provident nesciunt ratione iure eligendi necessitatibus blanditiis labore, eveniet dolorum tempore officia velit animi itaque. Aut corrupti exercitationem voluptatum at vitae voluptatibus earum in.</td>
        </tr>
      </tbody>
    </table>
    
  </div>
</body>
</html>