.mt-minus-1 {
  margin-top: -0.25rem !important;
}
.mt-minus-2 {
  margin-top: -0.5rem !important;
}
.mt-minus-3 {
  margin-top: -1rem !important;
}
.mt-minus-4 {
  margin-top: -1.5rem !important;
}
.mt-minus-5 {
  margin-top: -3rem !important;
}

.fs-05 {
  font-size:0.5rem !important;
}