table {
  table-layout: fixed;
  width:auto;
  border-collapse: separate;
  border-spacing: 0;
}
th, td {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  vertical-align: text-top;
  margin-bottom: 10px;
}

th:nth-child(1){
  width: 100px;
}
th:nth-child(2){
  min-width: 150px;
  max-width: 300px;
}
th:nth-child(3){
  min-width: 100px;
}
th:nth-child(4){
  min-width: 150px;
}
td:first-child{
  white-space: nowrap;
  padding-left: 1rem;
  padding-right: 1rem;
}
td:nth-child(3), td:nth-child(4), td:nth-child(5){
  text-align:center;
}

thead > tr > th, thead > tr > td {
  text-align: center;
  background-color: rgb(178, 241, 252);
  height: 2.5rem;
  vertical-align: middle;
  white-space: nowrap;
}
thead > tr > td {
  border-top: 1px solid black;
  border-bottom: 3px solid black;
  background-color: white;
  height: 3rem;
  vertical-align: middle;
}
thead {
  position: sticky;
  top: 0;
}

tr{
  height: 2rem!important;
}
tbody td:nth-child(5) {
  white-space: nowrap;
}
.brdp_detail{
  border: 1px solid black;
  width: 100%;
  height: 100px;
}

li > p {
  margin: 0;;
}



