<!DOCTYPE html>
<html lang="en">
<style>
  .font-gill {
    font-family: 'Gill Sans', sans-serif;
  }
</style>

<link rel="stylesheet" href="style/css/brDoc.css">
<script src="../../assets/brdp/js/brDoc.js"></script>
<script src="../../assets/brdp/js/brDoc.js"></script>

<!-- <body> -->
<body onload="document.querySelector('#link').click()">
  <div id="container">
    <div id="container-list" class="p3">click <a id="link" href="javascript:openList()">here</a> to open.</div>
    <div id="container-detail" class="p3"></div>
  </div>
</body>


</html>